<!-- ========================= books start ========================= -->
<section id="services" class="service-section pt-150">
  <div class="container">
    <div class="row justify-content-center shadow p-5">
      <div class="col-xl-6 col-lg-8">
        <div class="section-title text-center mb-40">
          <span class="wow fadeInUp" data-wow-delay=".2s">Mis libros</span>
        </div>
      </div>

      <div class="col-xl-12 col-lg-12 mb-3"> 
        <div class="section-title text-center">
          <label>
            <label for="formFile" class="form-label">Seleccione un libro</label>
            <input id="formFile" type="file" accept=".epub" class=" form-control" (change)="selectFile($event)" />
          </label>
        </div>
      </div>
      <div class=" col-12 col-md-4 mb-3">
        <div class="section-title">
          <div class="form-group mb-3">
            <label for="title">Titulo</label> <input type="text" class="form-control" id="title" name="title" required
              [(ngModel)]="title">
          </div>
        </div>
      </div>
      <div class=" col-12 col-md-4 mb-3">
        <div class="section-title">
          <div class="form-group mb-3">
            <label for="year">Año</label> <input type="text" class="form-control" id="year" name="year" required
              [(ngModel)]="year">
          </div>
        </div>
      </div>
      <div class="col-12 col-md-4 mb-3">
        <div class="section-title">
          <div class="form-group mb-3">
            <label for="author">Autor</label> <input type="text" class="form-control" id="author" name="author" required
              [(ngModel)]="author">
          </div>
        </div>
      </div>
      <div class="col-xl-12 col-lg-12 mb-20">
        <div class="section-title text-center">
          <button class="btn btn-success w-md-25"   (click)="uploadBook()">
            Subir libro
          </button>
          <div *ngIf="currentBookUpload" class="progress mt-2">
            <div class="progress-bar progress-bar-info" role="progressbar" attr.aria-valuenow="{{ percentage }}"
              aria-valuemin="0" aria-valuemax="100" [ngStyle]="{ width: percentage + '%' }">
              {{ percentage }}%
            </div>
          </div>
        </div>
      </div>
    </div>


    <div class="row mt-50">
      <div class="col-lg-3 col-md-3 col-12 mb-20 " *ngFor="let book of books">
        <div class="single-service wow fadeInUp shadow h-100" data-wow-delay=".2s">
          <div class="icon ">
            <div class="conteiner-fluid">
              <div class="row">
                <div class="col-12  text-center">
                  <img class="ms-3 w-25" src="assets/img/book.png" alt="">
                </div>
              </div>
            </div>
          </div>
          <div class="content">
            <blockquote class="blockquote">
              <p class="mb-2">{{ book.title }}</p>
              <footer class="blockquote-footer">{{ book.author }} <cite title="Source Title">{{ book.year }}</cite>
              </footer>
            </blockquote>
            <div class="container-fluid">
              <div class="row">
                <div class="col-12 mb-3 text-center"> 
                  <a href="{{ book.url }}" class="btn btn-warning w-100"><i class="fas fa-download"></i> Descargar</a>
                </div>
                <div class="col-12 col-md-6 mb-3 mb-md-0">
                  <button (click)="deleteBook(book,book.id)" class="btn btn-danger w-100"  >
                    <i class="fas fa-trash"></i> Borrar
                  </button>
                </div>
                <div class="col-12 col-md-6">
                  <button   type="button" class="btn btn-primary w-100" data-toggle="modal" data-target="#editar" (click)="editBook(book,book.id)">
                    <i class="fas fa-edit"></i> Editar
                  </button>
                </div>
              </div>
            </div>
            
            
          </div>
        </div>
      </div>
      <div *ngIf="nobooks" class="col-12 mb-20 ">
        <div class="single-service wow fadeInUp shadow h-100" data-wow-delay=".2s">
          <h2><i class="far fa-folder-open"></i> Aún no tienes libros, intenta subir alguno</h2>
        </div>
      </div>
    </div>
  </div>
</section>
<!-- ========================= mybooks end ========================= -->
<!-- EditBook -->
<div class="modal fade" id="editar" tabindex="-1" aria-labelledby="exampleModalLabel" aria-hidden="true">
  <div class="modal-dialog">
    <div class="modal-content">
      <div class="modal-header">
        <h5 class="modal-title" id="exampleModalLabel">Editar libro</h5>
        <button type="button" class="btn-close" data-dismiss="modal" aria-label="Cerrar"></button>
      </div>
      <div class="modal-body"> 
        <div class="col-12 mb-3">
          <div class="section-title text-center"> 
              <label for="formFileU" class="form-label">Seleccione un libro</label>
              <input id="formFileU" type="file" accept=".epub" class=" form-control" (change)="selectFileU($event)" />
          </div>
        </div>
        <div class="col-12 mb-3">
          <div class="section-title">
            <div class="form-group mb-3">
              <label for="titleU">Titulo</label> <input type="text" class="form-control" id="titleU" name="titleU" required
                [(ngModel)]="titleU">
            </div>
          </div>
        </div>
        <div class="col-12 mb-3">
          <div class="section-title">
            <div class="form-group mb-3">
              <label for="yearU">Año</label> <input type="text" class="form-control" id="yearU" name="yearU" required
                [(ngModel)]="yearU">
            </div>
          </div>
        </div>
        <div class="col-12 mb-3">
          <div class="section-title">
            <div class="form-group mb-3">
              <label for="authorU">Autor</label> <input type="text" class="form-control" id="authorU" name="authorU"
                required [(ngModel)]="authorU">
            </div>
          </div>
        </div>
        <div class="col-12 mb-20">
          <div class="section-title text-center"> 
            <div *ngIf="percentageU" class="progress mt-2">
              <div class="progress-bar progress-bar-info" role="progressbar" attr.aria-valuenow="{{ percentageU }}"
                aria-valuemin="0" aria-valuemax="100" [ngStyle]="{ width: percentageU + '%' }">
                {{ percentageU }}%
              </div>
            </div>
          </div>
        </div>
      </div>
      <div class="modal-footer">
        <button type="button" class="btn btn-secondary" data-dismiss="modal">Cancelar</button> 
        <button type="button" class="btn btn-primary"   (click)="updateBook()" >
          Guardar cambios
        </button>
      </div>
    </div>
  </div>
</div>