<section id="services" class="service-section pt-150">
    <div class="container">
      <div class="row justify-content-center">
        <div class="col-xl-6 col-lg-8">
          <div class="section-title text-center">
            <span class="wow fadeInUp" data-wow-delay=".2s">INICIAR SESION</span>  
          </div>
        </div>
      </div>
      <div class="row">
        <div class="col-0 col-lg-4 col-md-4"></div>
        <div class="col-lg-4 col-md-4">
          <div class="single-service wow fadeInUp" data-wow-delay=".2s"> 
            <div class="content">  
              <form (ngSubmit)="onLoginEmail()">
                <div class="form-group mb-3">
                  <label for="email">Correo electrónico</label> <input type="email"
                    class="form-control" id="email" name="email" required
                    [(ngModel)]="email">
                </div>
              
                <label for="password">Contraseña</label> 
                <div class="input-group mb-3"> 
                  <input [type]="fieldpassword ? 'text' : 'password'" class="form-control" id="password"
                  name="password" required [(ngModel)]="password"> 
                  <button class="input-group-text" type="button" (click)="toggleFieldPassword()"> <i
                     class="fa"
                    [ngClass]="{
                      'fa-eye-slash': !fieldpassword,
                      'fa-eye': fieldpassword
                    }"></i></button>
                </div>
               
                <button type="submit" class="main-btn btn-hover wow fadeInUp w-100" >INGRESAR</button>
              </form>
              <div class="mt-3">
                <span>¿No tienes cuenta? <span> <a href="javascript:void(0)" (click)="register()"> REGISTRATE</a> </span></span>
              </div>
            </div>
          </div>
        </div> 
        <div class="col-0 col-lg-4 col-md-4"></div>
      </div>
    </div>
  </section>