<!-- ========================= books start ========================= -->
<section id="services" class="service-section pt-150">
  <div class="container">
    <div class="row justify-content-center">
      <div class="col-xl-6 col-lg-8">
        <div class="section-title text-center mb-70">
          <span class="wow fadeInUp" data-wow-delay=".2s">Librería</span>
          <h1 class="wow fadeInUp" data-wow-delay=".4s">Descarga nuestros libros gratis</h1>
        </div>
      </div>
    </div>
    <div class="row mt-10 mb-10">
      <div class="col-12">
        <form (ngSubmit)="search()">
          <div class="input-group mb-3">
            <input [(ngModel)]="searchtext" (keydown)="search()" type="text" class="form-control" placeholder="Titulo de libro, author o año"
              aria-label="Titulo de libro, author o año" aria-describedby="basic-addon2">
            <button type="submit" class="btn btn-warning input-group-text " id="basic-addon2" (click)="search()"><i
                class="fas fa-search"></i>
            </button>
          </div>
        </form>
      </div>
    </div>
    <div class="row mt-10">
      <div class="col-lg-3 col-md-3 col-12 mb-20 " *ngFor="let book of books">
        <div class="single-service wow fadeInUp shadow h-100" data-wow-delay=".2s">
          <div class="icon ">
            <div class="conteiner-fluid">
              <div class="row">
                <div class="col-12  text-center">
                  <img class="ms-3 w-25" src="assets/img/book.png" alt="">
                </div>
              </div>
            </div>
          </div>
          <div class="content">
            <blockquote class="blockquote">
              <p class="mb-2">{{ book.title }}</p>
              <footer class="blockquote-footer">{{ book.author }} <cite title="Source Title">{{ book.year }}</cite>
              </footer>
            </blockquote>
            <div class="container-fluid">
              <div class="row">
                <div class="col-12 mb-3 text-center">
                  <a href="{{ book.url }}" class="btn btn-warning w-100"><i class="fas fa-download"></i> Descargar</a>
                </div>
              </div>
            </div>
          </div>
        </div>
      </div>
      <div *ngIf="noresults" class="col-12 mb-20 ">
        <div class="single-service wow fadeInUp shadow h-100" data-wow-delay=".2s">
          <h2><i class="fas fa-search"></i> No se han encontrado resultados para tu búsqueda "{{searchtext}}"</h2>
        </div>
      </div>
    </div>
  </div>
</section>
<!-- ========================= books end ========================= -->