<!-- ========================= service-section start ========================= -->
<section id="services" class="service-section pt-150">
  <div class="container">
    <div class="row justify-content-center">
      <div class="col-xl-6 col-lg-8">
        <div class="section-title text-center mb-70">
          <span class="wow fadeInUp" data-wow-delay=".2s">Mi Cuenta</span>
          <h1 class="wow fadeInUp" data-wow-delay=".4s">Editar información</h1>
        </div>
      </div>
    </div>
    <div class="row ">
      <div class="col-0 col-lg-4 col-md-4"></div>
      <div class="col-lg-4 col-md-4  mb-20">
        <div class="single-service wow fadeInUp shadow" data-wow-delay=".2s">
          <div class="content">
            <form (ngSubmit)="onUpdate()">
              <div class="form-group mb-3 text-center"> 
                <img [src]="urlU" class="w-25 rounded-circle shadow " alt="">
              </div>
              <div class="form-group mb-3">
                <label for="formFileU" class="form-label">Editar foto de perfil</label>
                <input id="formFileU" type="file" accept=".jpg, .jpeg, .png" class=" form-control"
                  (change)="selectFileU($event)" />
              </div>
              <div class="form-group mb-3">
                <label for="name">Nombre</label> <input type="text" class="form-control" id="name" name="name" required
                  [(ngModel)]="name">
              </div>
              <div class="form-group mb-3">
                <label for="gender">Genero</label>
                <select class="form-select" name="selectAnswer" [(ngModel)]="gender" id="gender" name="gender" required>
                  <option *ngFor="let gender of genders" [ngValue]="gender.name">{{gender.name}}</option>
                </select>
              </div>
              <div class="form-group mb-3">
                <label for="country">Pais</label>
                <select class="form-select" name="selectAnswer" [(ngModel)]="country" id="country" name="country"
                  required>
                  <option *ngFor="let country of countries" [ngValue]="country.name">{{country.name}}</option>
                </select>
              </div>

              <button type="submit" class="main-btn btn-hover wow fadeInUp w-100 mb-3">GUARDAR CAMBIOS</button>
            </form>
          </div>
        </div>
      </div>
      <div class="col-0 col-lg-4 col-md-4"></div>
    </div>
  </div>
</section>
<!-- ========================= service-section end ========================= -->