<!-- ========================= header start ========================= -->
<header class="header">
    <div class="navbar-area">
        <div class="container">
            <div class="row align-items-center">
                <div class="col-lg-12">
                    <nav class="navbar navbar-expand-lg">
                        <a class="navbar-brand" href="javascript:void(0)" (click)="home()">
                            <img src="assets/img/logo/logo.png" class="w-75" alt="Logo" />
                        </a>
                        <button class="navbar-toggler" type="button" data-toggle="collapse"
                            data-target="#navbarSupportedContent" aria-controls="navbarSupportedContent"
                            aria-expanded="false" aria-label="Toggle navigation">
                            <span class="toggler-icon"></span>
                            <span class="toggler-icon"></span>
                            <span class="toggler-icon"></span>
                        </button>

                        <div class="collapse navbar-collapse sub-menu-bar" id="navbarSupportedContent">
                            <ul id="nav" class="navbar-nav ml-auto">
                                <li class="nav-item">
                                    <a class="page-scroll" href="javascript:void(0)" (click)="home()"><i
                                            class="fas fa-home"></i> Inicio</a>
                                </li>
                                <li class="nav-item">
                                    <a class="page-scroll" href="javascript:void(0)" (click)="books()"><i
                                            class="fas fa-book"></i> Libros</a>
                                </li>
                                <li class="nav-item" [hidden]="isLoggedIn">
                                    <a class="page-scroll" href="javascript:void(0)" (click)="login()"> <i
                                            class="fas fa-sign-in-alt"></i> Iniciar
                                        sesión</a>
                                </li>
                                <li class="nav-item d-none" [hidden]="!isLoggedIn" [ngClass]="{
                                    'd-none': !isLoggedIn,
                                    'd-block': isLoggedIn
                                  }">
                                    <a class="page-scroll" href="javascript:void(0)" (click)="mybooks()"><i
                                            class="fas fa-book-reader"></i> Mis libros</a>
                                </li>
                                <li class="nav-item d-none" [hidden]="!isLoggedIn" [ngClass]="{
                                    'd-none': !isLoggedIn,
                                    'd-block': isLoggedIn
                                  }">

                                    <a class="page-scroll" href="javascript:void(0)" (click)="myaccount()">
                                        <div class="input-group">
                                            <div class="input-group-text"
                                                style="background-color: #fff;border: 0px;padding: 0px 0px;"
                                                id="btnGroupAddon"><img [src]="photoUser"
                                                    style="position: absolute;width: 20%;" class=" rounded-circle"
                                                    alt=""></div>
                                            <div class="input-group-text"
                                                style="background-color: #fff;border: 0px;padding: 1px 0rem 1px 2rem;font-size: 18px;font-weight: 400;color: #676F73;transition: all 0.3s ease-out 0s;"
                                                id="btnGroupAddon"> Mi cuenta</div>
                                        </div>
                                    </a>
                                </li>
                                <li class="nav-item d-none" [hidden]="!isLoggedIn" [ngClass]="{
                                    'd-none': !isLoggedIn,
                                    'd-block': isLoggedIn
                                  }">
                                    <a class="button text-danger" href="javascript:void(0)" (click)="logout()"> <i
                                            class="fas fa-sign-out-alt"></i> Cerrar sesion</a>
                                </li>
                            </ul>
                        </div>
                        <!-- navbar collapse -->
                    </nav>
                    <!-- navbar -->
                </div>
            </div>
            <!-- row -->
        </div>
        <!-- container -->
    </div>
    <!-- navbar area -->
</header> 
<!-- ========================= header end ========================= -->
<router-outlet></router-outlet>