<!-- ========================= Home start ========================= -->
<section id="home" class="hero-section">
  <div class="hero-shape"> 
  </div>
  <div class="container">
    <div class="row align-items-center">
      <div class="col-lg-6">
        <div class="hero-content">
          <h1 class="wow fadeInUp" data-wow-delay=".2s">Descarga libros <span>gratis</span> </h1>
          <p class="wow fadeInUp" data-wow-delay=".4s">
            Te presentamos nuestra colección de libros EPUB, la cual se encuentra en constante crecimiento. Nos
            empeñamos en buscar libros digitales relevantes, de los más variados temas para satisfacer tu necesidad de
            conocimiento, curiosidad y espíritu investigador.
          </p>
        </div>
      </div>
      <div class="col-lg-6">
        <div class="hero-img wow fadeInUp" data-wow-delay=".5s">
          <img src="assets/img/Bibliophile_hwqc.svg" alt="" class="w-75">
        </div>
      </div>
    </div>
  </div>
</section>
<!-- ========================= Home end ========================= -->

<!-- ========================= service-section start ========================= -->
<section id="services" class="service-section pt-150">
  <div class="container">
    <div class="row justify-content-center">
      <div class="col-xl-6 col-lg-8">
        <div class="section-title text-center mb-70">
          <span class="wow fadeInUp" data-wow-delay=".2s">Librería</span>
          <h1 class="wow fadeInUp" data-wow-delay=".4s">“LEE POCO Y SERÁS COMO MUCHOS. LEE MUCHO… Y SERÁS COMO POCOS”.
          </h1>
        </div>
      </div>
    </div>
    <div class="row">
      <div class="col-lg-4 col-md-6 text-center  mb-10">
        <div class="single-service wow fadeInUp h-100 shadow" data-wow-delay=".2s">
          <div class="icon">
            <img src="assets/img/service/undraw_cloud_files_wmo8.svg" alt="">
          </div>
          <div class="content">
            <h3>Descarga</h3>
            <p>Descargar libros gratis en formatos EPUB</p>
          </div>
        </div>
      </div>
      <div class="col-lg-4 col-md-6 text-center  mb-10">
        <div class="single-service wow fadeInUp h-100 shadow" data-wow-delay=".4s">
          <div class="icon">
            <img src="assets/img/service/undraw_Surveillance_re_8tkl.svg" alt="">
          </div>
          <div class="content">
            <h3>Visualiza</h3>
          </div>
        </div>
      </div>
      <div class="col-lg-4 col-md-6 text-center  mb-10">
        <div class="single-service wow fadeInUp h-100 shadow" data-wow-delay=".6s">
          <div class="icon text-center">
            <img src="assets/img/service/undraw_Reading_re_29f8.svg" alt="">
          </div>
          <div class="content">
            <h3>Disfruta</h3>
          </div>
        </div>
      </div>
    </div>
  </div>
</section>
<!-- ========================= service-section end ========================= -->